<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row"  [ngStyle]="{'margin-top':'15px','padding-left':'18px','color':'white'}">
        <div class="col-sm-5 form-group" >
          <label for="name"><span>name</span></label>
          <input type="text"
                  id="name"
                  class="form-control"
                  name="name"
                  required
                  ngModel>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount"><span>Amount</span></label>
          <input type="number"
                  id="amount"
                  class="form-control"
                  name="amount"
                  pattern="^[1-9]+[0-9]*$"
                  required
                  ngModel>
        </div>
      </div>
      <div class="row" [ngStyle]="{'padding-left':'25px'}" >
        <div class="col-xs-12">
          <button class="btn btn-success"
                 type="submit"
                 (click)="onAddItem($event)"
                 [disabled]="!f.valid"
                 [ngStyle]="{'margin':'5px'}">{{editMode? 'Update':'Add'}}</button>

          <button  [ngStyle]="{'margin':'5px'}" class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>

          <button  [ngStyle]="{'margin':'5px'}"  class="btn btn-primary"
                type="button" (click)="onClear()">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
